:root {
    /* theme 1 */
    --main-bg: hsl(228, 32%, 28%);
    --input-bg: hsl(232, 43%, 14%);
    --btn-bg: hsl(232, 42%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg);
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.title {
    color: white;
}

.toggle-container {
    display: flex;
}

.toggle-theme {
    margin: 0 0 0 10px;
}


.calc-input {
    background: var(--input-bg);
    padding: 15px;
    margin: 20px 0;
    width: 420px;
    height: 90px;
    font-size: 35px;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
}

.btn-controls {
    display: grid;
    width: 420px;
    margin: 20px 0;
    background: var(--btn-bg);
    border-radius: 0.5rem;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.calc-btn {
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
}