:root {
    /* theme 1 */
    --main-bg: hsl(228, 32%, 28%);
    --input-bg: hsl(232, 43%, 14%);
    --btn-bg: hsl(232, 42%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg);
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

@media screen and (max-width: 800px) {
    .container {
        width: 95vw;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.title {
    color: white;
    font-size: 30px;
}

.toggle-container {
   display: flex;
}

.toggle-theme {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.radio-btn {
    width: 20px;
    height: 20px;
    border: 2px solid #444;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-btn input {
    display: none;
}

.radio-btn .checkmark {
    display: inline-block;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.radio-btn input:checked + .checkmark {
    opacity: 1;
    display: inline-block;
 }


.calc-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    background: var(--input-bg);
    padding: 15px;
    margin: 20px 0;
    width: 420px;
    height: 90px;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
}

.previousOperand {
    font-size: 1.5rem
}

.currentOperand {
    font-size: 2.5rem
}

.btn-controls {
    display: grid;
    width: 420px;
    margin: 20px 0;
    background: var(--btn-bg);
    border-radius: 0.5rem;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.calc-btn {
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
}

.item-reset{
    grid-column: span 2;
}

.item-equal {
    grid-column: span 2;
}

.item-del {

}